.products {
  .margin-Y(20);
}
.products__head {
  .center-align();
}
.products__title {
  .ff-montserrat(600);
  .rem-size(26);
  .line-height-rem(30);
  text-transform: uppercase;
  color: #2d2b27;
  margin-bottom: 5px;
  .wide(26, 100);
}
.products__descr {
  .ff-montserrat(400);
  .rem-size(14);
  .line-height-rem(20);
  color: #1a1a1a;
  .wide(14, 400);
}
.products__wrap {
  .margin-Y(20);
  .row-flex();
  .valign-wrapper(md-center-col);

 /* .md-block({
    justify-content: center;
  });*/

}
.products__inner {
  .col();
  margin-bottom: 20px;
  .beam(10);
  .beam-sm(10);
  .beam-xs(11);
  .beam-xs(11);
 /* .size-grow(4);
  .size-grow-lg(4);
  .size-grow-md(6);
  .size-grow-sm(8);
  .size-grow-xs(10);
  .size-grow-xxs(12);
  .valign-wrapper(md-center-col);*/
}
.product-item {
  .display-container();
  margin-bottom: 20px;
}
.product-item__avatar {
  .max-width(per, 100);

}
.product-item__img {
  .responsive-img();
  text-align: center;
  .sm-block({
    margin: auto;
  });

}
.product-item__footer {
  .width(per, 100);
  .center-align();
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
}

.product-btn {
  .ff-montserrat(400);
  .rem-size(13);
  color: #ffffff;
  .wide(13, 60);
}
#js_products-slider {
  .owl-nav {

    button.owl-prev,
    button.owl-next {
      border: none;
      box-shadow: none;
      width: 49px;
      height: 49px;
      background: url("../i/sprite-arrow2.png") 0 0 no-repeat;
      position: absolute;
      top: calc(50% - 49px);
      transform: translateY(-50%);

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      .display-left();
      &:hover {
        background-position: 0 -49px;
      }

    }

    button.owl-next {
      background-position: -49px 0;
      left: auto;
      right: -55px;
      .display-right();

      &:hover {
        background-position: -49px -49px;
      }
    }
  }
   .disabled {
     display: block;
   }

}